@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Image Gallery</h1>
    <p class="lead">This is a place where you can post your favorite images.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <button type="button">@Html.ActionLink("Login", "Index", "Login")</button>
    <div class="col-md-4">
        
    </div>
</div>